venv
images/
jeon_hyojin_treatment_of_diabetic_foot_2013.pdf
text_extracted.py
file.py

node_modules/

testing_file/
tests
vector_db/

vector_db_0884f37d-56a0-44a0-a93e-9dfe3ad78da6/
vector_db_972be684-f2a6-43f0-9996-4ce59e1821bc/

vector_db_7796fcc9-f7de-4846-953b-9add526e26c2/
vector_db_d7ef1505-918a-476f-a66c-a63900715bc3/
chatbot.db

chatbot.db-shm
chatbot.db-wal
pdf/
images/
logs/
# docs/
data

extracted_outputs/
__pycache__/

.env
node_modules/
abc2/

.coverage
.venv/
.vscode/

ffmg